.StackContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-y: scroll;
	overflow-x: hidden;
	// background-color: antiquewhite;
	height: 96%;
	position: relative;
	h1 {
		position: relative;
		display: flex;
		align-items: center;
		gap: 10px;
		margin-top: 3px;
	}
	.stackList {
		position: relative;
		height: 100px;
		width: 70%;
		display: flex;
		align-items: center;
		gap: 10px;
		margin: auto;
		margin-bottom: 0px;
		margin-top: 10px;
		.element {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 30px;
			width: 35px;
			background-color: #ff5733;
			box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5),
				0 10px 10px 0 rgba(0, 0, 0, 0.5);
			position: absolute;
			margin-left: 10%;

			span {
				position: absolute;
				top: -20px;
			}

			@keyframes fadeIn {
				0% {
					opacity: 0.5;
					transform: scale(0.5);
				}
				100% {
					opacity: 1;
					transform: scale(1);
				}
			}

			animation-name: fadeIn;
			animation-duration: 0.5s;
			animation-timing-function: ease-in;
			animation-fill-mode: forwards;
		}

		@keyframes fadeOut {
			0% {
				opacity: 1;
				transform: scale(1);
			}
			100% {
				opacity: 0.5;
				transform: scale(0.8);
			}
		}

		.fade-out {
			position: relative;
			animation-name: fadeOut;
			animation-duration: 0.5s;
			animation-timing-function: ease-out;
			animation-fill-mode: forwards;
		}
	}
	.stackVirtical {
		position: relative;
		width: 98%;
		height: 335px;
		max-height: fit-content;
		margin: auto;
		margin-top: 150px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		gap: 5px;
		padding-top: 20px;
		.glassElements {
			position: absolute;
			gap: 5px;
			left: 10%;
			.element {
				position: absolute;
				left: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: #ff5733;
				height: 30px;
				width: 100px;
				box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5),
					0 5px 5px 0 rgba(0, 0, 0, 0.5);
				p {
					font-weight: 500;
					font-size: 24px;
				}
			}
			@keyframes fadeIn {
				0% {
					opacity: 0.5;
					transform: scale(0.5);
				}
				100% {
					opacity: 1;
					transform: scale(1);
				}
			}
			.elementTop {
				animation-name: fadeIn;
				animation-duration: 0.5s;
				animation-timing-function: ease-in;
				animation-fill-mode: forwards;
			}
			@keyframes fadeOut {
				0% {
					opacity: 1;
					transform: scale(1);
				}
				100% {
					opacity: 0.5;
					transform: scale(0.1);
				}
			}
			.stackHolderTop {
				font-size: 24px;
				color: white;
				font-weight: 500;
				margin-bottom: 10px;
			}
			.elementTopPop {
				animation-name: fadeOut;
				animation-duration: 0.5s;
				animation-timing-function: ease-out;
				animation-fill-mode: forwards;
			}

			.glass-container {
				position: absolute;
				left: 0px;
				width: 140px;
				height: 0px;
				bottom: -10px;
				background: rgba(157, 242, 250, 0.479);
				border-radius: 5px;
				box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
				backdrop-filter: blur(1px);
				-webkit-backdrop-filter: blur(1px);
				border: 1px solid rgba(0, 231, 252, 0.692);
				cursor: no-drop;
				transition-property: height;
				transition-duration: 1s;
			}
			h2 {
				position: absolute;
				bottom: -80px;
				left: 30px;
				font-size: 34px;
			}
		}
		.codeContainer {
			width: 60%;
			position: absolute;
			top: -50px;
		}
	}
	.footer {
		display: flex;
		align-items: center;
		gap: 5px;
		margin: auto;
		height: 150px;
		button {
			border: none;
			background-color: #ff5733;
			width: 80px;
			outline: none;
			padding: 3px;
			font-size: 24px;
			color: white;
		}
		button:hover {
			cursor: pointer;
			background-color: #000000;
			color: white;
		}
		.push {
			border-radius: 0% 0px 0px 0%;
		}
		.pop {
			border-radius: 0px 0% 0% 0px;
		}
		input {
			padding: 10px;
			outline: none;
			border: none;
			&::placeholder {
				font-weight: 500;
				opacity: 0.8;
				font-size: 18px;
			}
		}
	}
}
