.container {
	flex: 1;
	padding: 20px;
	padding-top: 5px;
	height: 100%;
	background-color: #f1f1f1;
	margin: 2px;
	/* background-image: url('./images/homebackground.png'); */
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	overflow: hidden;
}

.sectionContainer {
	height: 99%;
	position: relative;
}

.startButton {
	width: 130px !important;
	height: 40px;
	border-radius: 5px;
	font-family: 'Lato', sans-serif !important;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
		7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
	outline: none;
	line-height: 42px;
	padding: 0px;
	font-size: 20px;
	border: none;
	background: #fff;
	background: linear-gradient(0deg, #6e6e6e 0%, #969595 100%);
}

.startButton:hover {
	color: #080808;
	box-shadow: none;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
		7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
	background: linear-gradient(0deg, #464444 0%, #585656 100%);
}

.horizontal-line {
	border-bottom: 2px solid rgb(83, 83, 83);
	border-radius: 2px;
	padding: 0px;
}
