.arrayContainer {
	height: 92vh;
	max-height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	overflow: auto;
	.arrayHorizontal {
		position: relative;
		width: 800px;
		height: 100px;
		max-height: fit-content;
		margin: auto;
		display: flex;
		align-items: center;
		gap: 10px;
		padding-top: 20px;

		.element {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 35px;
			width: 40px;
			background-color: #ff5733;
			box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5),
				0 10px 10px 0 rgba(0, 0, 0, 0.5);
			transition: left 0.5s;
			span {
				position: absolute;
				top: -38px;
			}
			@keyframes fadeIn {
				0% {
					opacity: 0.5;
					transform: scale(0.5);
				}
				100% {
					opacity: 1;
					transform: scale(1);
				}
			}
			animation-name: fadeIn;
			animation-duration: 0.5s;
			animation-timing-function: ease-in;
			animation-fill-mode: forwards;
		}
		.elementOut {
			@keyframes fadeOut {
				0% {
					opacity: 1;
					transform: scale(1);
				}
				100% {
					opacity: 0.1;
					transform: scale(0.1);
				}
			}
			animation-name: fadeOut;
			animation-duration: 0.5s;
			animation-timing-function: ease-in;
			animation-fill-mode: forwards;
		}
	}

	.codeContainer {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		right: 0px;
		width: 80%;

		.copy {
			position: absolute;
			right: 10px;
			top: 10px;
			outline: none;
			border: none;
			background: transparent;
			cursor: pointer;
			i {
				font-size: 16px;
			}
		}
		.run {
			height: 30px;
			width: 120px;
			position: absolute;
			right: 10px;
			bottom: -35px;
			outline: none;
			border: none;
			background-color: rgb(0, 189, 9);
			cursor: pointer;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			border-radius: 50px;
			gap: 5px;
			opacity: 0.8;
			color: white;
			font-size: 16px;
			font-weight: 500;
		}
		.run:hover {
			opacity: 1;
		}
		.pythonTitle {
			position: absolute;
			left: 20%;
			bottom: -55px;
			// width: 200px;
			height: 30px;
			background-color: azure;
			padding-left: 20px;
			padding-right: 20px;
			text-align: center;
		}
		.aceEditor {
			font-size: 16px !important;
		}
	}
	.footer {
		bottom: 80px;
		height: 250px;
		display: flex;
		align-items: center;
		margin: auto;
		button {
			border: none;
			background-color: #ff5733;
			width: 120px;
			outline: none;
			font-size: 18px;
			color: white;
			height: 25px;
		}
		button:hover {
			cursor: pointer;
			background-color: #000000;
			color: white;
		}

		.deleteFront {
			margin-left: 10px;
		}

		.valueInput {
			height: 23px;
			outline: none;
			border: none;
			width: 130px;
		}
		.indexInputAdd {
			height: 23px;
			outline: none;
			border: none;
			width: 55px;
			margin-right: 10px;
		}
		.indexInputDelete {
			height: 23px;
			outline: none;
			border: none;
			width: 110px;
			&::placeholder {
				font-weight: 500;
				opacity: 0.8;
				font-size: 12px;
				position: absolute;
				top: 6px;
			}
		}
	}
}
