main {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.node {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: red;
	border: 5px solid black;
	border-radius: 10px;
}

svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
.imagetesting {
	position: absolute;
	background-image: url('./sendmessage.png') !important;
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: contain;
	background-position: center;
}
