.svgContainerBS {
	width: 95%;
	height: calc(100% - 7em);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin: auto;
	margin-top: 20px;
	.binaryArrayLabel {
		font-size: 20px;
		.binaryArray {
			width: 500px;
			padding-top: 3px !important;
			padding-bottom: 3px !important;
			font-size: 20px !important;
		}
	}
}
