.menuToggle {
	position: absolute;
	height: 96%;
	width: 15px;
	left: -18px;
}

.arrowhideShow {
	position: absolute;
	background-image: url('./chevron.png') !important;
	height: 45px;
	width: 15px;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: contain;
	background-position: center;
	margin: auto;
	top: 45%;
	background-color: rgb(87, 87, 87);
	border-radius: 3px;
}

.arrowhideShow.left {
	transform: rotate(180deg);
}

.arrowhideShow.right {
	transform: rotate(0deg);
}
