.LinkedListContainer {
	/* background-color: aqua; */
	height: 95%;
	margin-top: 0px !important;
	overflow: auto;
	overflow-x: hidden;
	position: relative;
}
/* Scroll bar */
.LinkedListContainer::-webkit-scrollbar {
	width: 8px;
}
/* Track */
/* .LinkedListContainer::-webkit-scrollbar-track {
	background: #ffffff;
} */

/* Handle */
.LinkedListContainer::-webkit-scrollbar-thumb {
	max-height: 10px;
	background-color: gray;
}

/* Handle on hover */
.LinkedListContainer::-webkit-scrollbar-thumb:hover {
	background: #1d1d1d;
}

/*  Testing starts from here... */

.line {
	position: absolute;
	top: 50px; /* set the starting y position */
	left: 100px; /* set the starting x position */
	width: 200px; /* set the length of the line */
	border-top: 1px solid black; /* set the border style to create the line */
	/* rotate the line to an angle */
}
