.LinkedListContainer {
	height: 90vh;
	max-height: fit-content;
	overflow: auto;

	.elements {
		width: 800px;
		height: 300px;
		// background-color: rgb(189, 187, 187);
		display: flex;
		align-items: center;
		margin: auto;
		position: relative;
		.element {
			position: absolute;
			width: 45px;
			height: 20px;
			display: flex;
			transition: left 0.5s;
			@keyframes fadeIn {
				0% {
					opacity: 0.5;
					transform: scale(0.5);
				}
				100% {
					opacity: 1;
					transform: scale(1);
				}
			}
			animation-name: fadeIn;
			animation-duration: 0.5s;
			animation-timing-function: ease-in;
			animation-fill-mode: forwards;

			.value {
				width: 40px;
				background-color: rgb(139, 138, 138);
				color: white;
				font-weight: 300;
				font-size: 16px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.next {
				width: 15px;
				height: 20px;
				background-color: rgb(110, 110, 110);
				display: flex;
				align-items: center;
				justify-content: center;
				.circle {
					height: 9px;
					background-color: rgba(49, 49, 49, 0.76);
					width: 9px;
					border-radius: 5px;
				}
			}
			.line {
				position: absolute;
				top: 10px;
				left: 38px;
				width: 25px;
				height: 2px;
				.arrowHead {
					display: flex;
					float: right;
					width: 0;
					height: 0;
					position: absolute;
					top: -4px;
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					border-right: 8px solid black;
					transform: rotate(180deg);
					animation: arrow-animation 0.5s linear forwards;
				}

				@keyframes arrow-animation {
					0% {
						float: left;
					}
					100% {
						float: right;
					}
				}
			}

			.line::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 100%;
				background-color: rgba(49, 49, 49, 0.76);
				animation: lineAnimation 0.5s linear forwards;
			}

			@keyframes lineAnimation {
				from {
					width: 0;
				}
				to {
					width: 100%;
				}
			}
		}
		.elementOut {
			position: relative;
			@keyframes fadeOut {
				0% {
					opacity: 1;
					transform: scale(1);
				}
				100% {
					opacity: 0.1;
					transform: scale(0.1);
					display: none;
				}
			}
			animation-name: fadeOut;
			animation-duration: 0.5s;
			animation-timing-function: ease-in;
			animation-fill-mode: forwards;

			.line {
				width: 0;
				background-color: rgba(49, 49, 49, 0.76);
				animation: linAnimation 0.5s linear forwards;
				.arrowHead::before {
					animation: arrowAnimation 0.5s linear forwards;
				}
				@keyframes arrowAnimation {
					0% {
						float: left;
					}
					100% {
						float: left;
					}
				}
			}

			@keyframes linAnimation {
				from {
					width: 25px;
				}
				to {
					width: 0px;
				}
			}
		}
		.prevElementAni {
			.line {
				width: 0;
				background-color: rgba(49, 49, 49, 0.76);
				animation: linAnimation 0.5s linear forwards;
				.arrowHead::before {
					animation: arrowAnimation 0.5s linear forwards;
				}
				@keyframes arrowAnimation {
					0% {
						float: left;
					}
					50% {
						float: left;
					}
				}
			}

			@keyframes linAnimation {
				from {
					width: 25px;
				}
				to {
					width: 10px;
				}
			}
		}
		.prevElementAnimation {
			.line {
				width: 0;
				background-color: rgba(49, 49, 49, 0.76);
				animation: linnimation 0.5s linear forwards;
				.arrowHead::before {
					animation: arrownimation 0.5s linear forwards;
				}
				@keyframes arrownimation {
					0% {
						float: right;
					}
					50% {
						float: right;
					}
				}
			}

			@keyframes linnimation {
				from {
					width: 10px;
				}
				to {
					width: 25px;
				}
			}
		}
	}

	.bottomContainer {
		background-color: aqua;
		height: 500px;
	}
}
